@import '../../assets/scss/variables';

#deails-component {
    width: 100%;
    height: calc(100vh - 0px);

    .container-layout-content {
        height: calc(100vh - 95px);
        overflow: auto;
    }
    

    .ant-layout {
        width: 100%;
        height: 100%;
    }
    
    .site-layout-content {
        background: #fff;
        padding: 24px;
        height: calc(100vh - 132px);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        height: 100%;

        .container-description {
            background-color: #f7f8fa;
            padding: 10px 10px;
        }

        .ant-card-body {
            display: none;
        }

        .ant-card img {
            max-height: 450px;
        }
    }

    .ant-layout-footer {
        line-height: 0.8;
        color: #fff;
        background-color: #222;
        text-align: center;
        padding: 10px 50px;
    }

    @media screen and (max-width: $break-extra-small) {

        .ant-card img {
            max-height: 202px!important;
        }
    }
}