@import '../../assets/scss/variables';

#home-component {
    width: 100%;
    height: calc(100vh - 0px);
    overflow: hidden;
    text-align: center;

    .container-spin {
        left: 0 !important;
        justify-content: center;

        .ant-spin {
            position: relative !important;
            top: 45%;
            left: 0;
        }
    }

    .ant-layout-content {
        height: calc(100vh - 95px);
        background-color: black;
    }

    .button-start {
        top: -16px;
        width: 260px;
        background-color: transparent;
        color: white;
        font-size: 22px;
        cursor: pointer;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        border-radius: 5px;

        transform-origin: left top;
        transform: scale(0.1);
        animation: scale 1500ms ease-in-out forwards;

        span {
            top: -5px;
            position: relative;
        }
    }

    video {
        width: 99%;
        padding: 30px 0px 10px;
    }

    .ant-layout-footer {
        line-height: 0.8;
        color: #fff;
        background-color: #222;
        text-align: center;
        padding: 10px 50px;
    }

    @keyframes scale {
        to {
            transform: scale(1);
        }
    }

}

.section__logo {
  width: 30rem;
  margin-bottom: 1rem;

  @media screen and (max-width: $break-extra-small)  {
    width: 18rem;
  }
}

@media screen and (max-height: 400px) {
    #home-component video {
        padding: 0px 0px 5px;
    }

    .button-start {
        top: -67px !important;
    }

    .ant-layout-header {
        height: 45px !important;
    }
}

@media screen and (max-width: $break-extra-small) {

    .button-start {
        top: 0 !important;
    }

    .container-header {
        max-width: 280px !important;
        margin-top: 3% !important;

        .container-title {
            border: none !important;
            display: initial;
        }
    }
}

